//----------------------------------------------
// Buttons
//----------------------------------------------
.value4value {
  margin: 2em 0 4em;
  text-align: center;

  .input-wrapper {
    input, select {
      max-width: 4em;
      background-color: $color-twitter-black;
      border: 0;
      color: $color-darkgrey;
      background: none;
    }

    input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }
  }

  button {
    border: 1px solid $color-blue;
    display: inline-block;
    padding: 0.5em 2em;
    margin: 0.21em;
    background-color: $color-blue-darker;
    color: $color-white !important;
    border-radius: 8px;
    text-decoration: none !important;
    cursor: pointer;

    font-weight: bolder;
    font-size: $font-large;

    img {
      max-height: 21px;
    }
  }
}

.btcpay-flex-container button {
  @include btn-split($color-white, $color-white, 2px, 0.75em 1em);

  margin: 0;

  font-family: $font;
  font-weight: 400;
  font-size: $font-small;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background 200ms ease-in-out;
}

.action-buttons {
  text-align: center;

  small {
    color: $color-darkgrey
  }
  a {
    color: $color-lightgrey !important;
  }
}

.button {
  a {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 0.5em 2em;
    margin: 0.21em;
    color: $color-white !important;
    border-radius: 8px;
    text-decoration: none !important;
    transition: box-shadow 200ms ease-out;
  }
}

.button-large {
  a {
    font-weight: bolder;
    font-size: $font-large;
  }
}

.button-medium {
  a {
    font-weight: bold;
  }
}

.button-small {
  a {
    font-weight: bold;
    font-size: $font-small;
  }
}

.button-red {
  a {
    background-color: $color-red;
  }
  a:hover {
    background-color: $color-orange;
  }
}

.button-blue {
  a {
    background-color: $color-blue;
  }
  a:hover {
    background-color: $color-orange;
  }
}

.button-black {
  a {
    background-color: $color-darkergrey;
  }
  a:hover {
    background-color: $color-darkgrey;
  }
}

.button-orange {
  a {
    background-color: $color-orange;
  }
  a:hover {
    background-color: $color-yellow;
  }
}
