//----------------------------------------------
//  Lists
//----------------------------------------------
%no-list-style {
  list-style-type: none;
}

ol {
  list-style-type: upper-roman;
}

//----------------------------------------------
//  Post Lists
//----------------------------------------------
.post {
  ol,
  ul:not(.post__social) {
    margin: {
      bottom: 1.5rem;
      left: 1em;
    }

    font-size: 1.1em;

    // @media (min-width: $mq-small) {
    //   font-size: 1.25em;
    // }

    & > li {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      p {
        margin-bottom: 0;

        font-size: inherit;
      }
    }
  }

}
