# Site/SEO settings
email: dergigi@pm.me
baseurl: ""
paginate: 12
paginate_path: "/page/:num"
permalink: /:year/:month/:day/:title/
google_analytics:

name: Gigi
title: derGigi.com
description: >
  Photography and writing.
url: http://dergigi.com
twitter_username: dergigi
default_img: /assets/images/seo.jpg
social:
  - name: twitter
    url: https://twitter.com/dergigi
  - name: instagram
    url: https://www.instagram.com/dergigi/
  - name: github
    url: https://github.com/dergigi
  - name: medium
    url: https://medium.com/@dergigi
  - name: bitcoin
    url: https://tippin.me/@dergigi

# Contact settings
contact_img: /assets/images/wanderer.jpg
formcarry: https://formcarry.com/s/HkIo0nMb7

# Author settings
author:
  - name: Christoph Gigi Fuchs
    bio: Bio as in biological?
    url: http://dergigi.com

# Build settings
markdown: kramdown
plugins:
  - jekyll-paginate
  - jekyll-sitemap
compress_html:
  clippings: all
  comments: all
  startings: [html, head, body]
exclude:
  - node_modules
  - .DS_Store
  - barber.jpg
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - package.json
  - README.md
