---
layout: default
---
<!-- The main content area -->

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      In the last couple of years, I stumbled into Bitcoin, which slowly but
      surely became my main intellectual interest. I have learned a lot from
      falling into this rabbit hole, and I have an inkling that the learning
      will never stop.
    </p>
    <p>
      The following essays are an attempt to share what I have learned, what I found
      most interesting, and how my perspective on this phenomenon has evolved over
      time.
    </p>
    <p>
      What might not be apparent at first glance is that Bitcoin provides endless
      food for thought. My goal is to share some of this food with you, dear reader.
    </p>
    <p>
      I hope you find my writing on the topic valuable.
    </p>
  </div>
</div>

<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.categories.bitcoin %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      These essays were originally published on
      <a href="https://medium.com/@dergigi" target="_blank">medium</a>,
      and condensed on
      <a href="https://twitter.com/@dergigi" target="_blank">twitter</a>.
    </p>
  </div>
</div>
