---
layout: default
---
<!-- The main content area -->

<div class="post__content section-padding">
  <div id="markdown" class="grid-xlarge js-read-more">
    <p>
      Hi, I'm Gigi.
    </p>
    <p>
      Most people know me as the guy who wrote
      <a href="{{ '/time' | absolute_url }}">Bitcoin is Time</a>.
    </p>
    <p>
      Some people know me as the author of
      <a href="https://21lessons.com">21 Lessons</a>, which is a little book I
      wrote a long time ago. I also say
      "<a href="{{ '/projects/#gm-gallery' | absolute_url }}">GM</a>" a lot.
    </p>
    <p>
      I used to be a software engineer. What I am now is unclear to me, at least
      at this very moment. Things are in flux.
      <a href="{{ '/ai' | absolute_url }}">LLMs</a> are doing most of the coding
      these days, so my usual go-to introduction of "writing words and code for
      bitcoin" isn't too accurate anymore. I guess it's all
      <a href="{{ '/words' | absolute_url }}">words</a> now.
    </p>
    <p>
      I care about <a href="{{ '/people' | absolute_url }}">people</a>, I care
      about <a href="{{ '/idea' | absolute_url }}">ideas</a>, and I care about
      freedom of speech. <a href="{{ '/speaking' | absolute_url }}">The Logos</a>,
      if you will. I care about freedom and prosperity, which is why I care about
      the <a href="{{ '/speech' | absolute_url }}">inalienable property rights</a>
      that bitcoin represents. I care about privacy, encryption, truth, beauty,
      and <a href="{{ '/projects/#opensats' | absolute_url }}">free and open-source</a>
      software.
    </p>
    <p>
      I care about the internet, and what it used to represent. I hope that my
      kids will be able to enjoy a free and open internet, just like I used to.
      I hope that they can express themselves freely, without being forced
      to use their <a href="{{ '/names' | absolute_url }}">true names</a>. I hope
      that they can escape the eternal doom loop of cheap dopamine and endless
      <a href="https://www.youtube.com/watch?v=4usXBGvufKg">car crashes</a> that
      is the current iteration of the internet.
    </p>
    <p>
      Where do we go from here? I don't know. I will do what I can to help bring
      about a better future. A more prosperous, more stable, more sane future. I
      am aware that technology is not enough, just like
      <a href="{{ '/cryptography' | absolute_url }}">cryptography is not enough</a>.
    </p>
    <p>
      I believe it is in our power to
      <a href="{{ '/projects/#sovereign-engineering' | absolute_url }}">build
      a better internet</a>: an internet worth having.
    </p>
    <p>
      The onus is on us.
    </p>
    <p>
      Gigi
      <br/>
      16:11 @ <a href="https://mempool.space/block/00000000000000000001f5926c77916bf8d76c06d72db0bbda9234d15ce8da93">956,516</a>
    </p>
  </div>
</div>

<div class="posts js-read-more-last">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.posts %}
        {% if post.favorite == true %}
          {% include post-card.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
