---
layout: default
redirect_from:
  - /bitcoin
  - /bitcoin/
---
<!-- The main content area -->

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
    {% include landing-about.md %}
    </p>
  </div>
</div>

<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.categories.bitcoin %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      These essays were originally published on
      <a href="https://medium.com/@dergigi" target="_blank">medium</a>,
      and condensed on
      <a href="https://twitter.com/@dergigi" target="_blank">twitter</a>.
    </p>
  </div>
</div>
