---
layout: default
---
<!-- The main content area -->

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      Hi, I'm Gigi.
    </p>
    <p>
      I'm a bitcoiner and software engineer, writing
      words and code
      for Bitcoin. My first
      book, <a href="https://21lessons.com">21 Lessons</a>, is one of the most
      recommended books among bitcoiners. I launched various
      <a href="{{ '/projects' | absolute_url }}">projects</a> in the
      bitcoin space <s>and am currently working on my second book,
      <a href="https://21-ways.com">21 Ways</a></s>.
      My main focus is on privacy, security, free software, and education.
    </p>
    <p>
      Unless otherwise noted, all my writing is published under a
      permissive creative commons <a href="{{ '/license' | absolute_url }}">license</a>.
      Remixes and 
      <a href="{{ '/translations' | absolute_url }}">translations</a> are appreciated.
    <p>
      You can support me via
      <a href="https://amzn.to/2Wa4qJo">my book</a> /
      <a href="https://www.patreon.com/dergigi">patreon</a> /
      <a href="https://github.com/sponsors/dergigi">GitHub</a> /
      <a href="{{ '/support' | absolute_url }}">directly</a>.
      <br/>
      Thank you.
      <br/>
      🙏🧡
    </p>
    <hr/>
    <p>
      I'm not as active anymore as I used to be, but you can still find me on <a
      href="{{ '/nostr' | absolute_url }}">nostr</a>.  The reasons are <a
      href="{{ '/lethargy' | absolute_url }}">varied</a> and I hope I'll be more
      active again eventually.
    </p>
    <hr/>
    <p>
      Below are some of my selected essays. You can find all essays under
      <a href="{{ '/words' | absolute_url }}">/words</a>.
    </p>
  </div>
</div>

<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for post in site.categories.bitcoin %}
        {% if post.favorite == true %}
          {% include post-card.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
