<p>
  <small>
  I hope you have enjoyed this article. If you did, feel free to share
  it,
  <a href="{{ '/translations' | absolute_url }}">translate</a>
  it, drop some applause on
  <a href="https://medium.com/@dergigi/">medium</a>, or even
  <a href="{{ '/support' | absolute_url }}">some sats</a>
  via the beast that is Bitcoin. You can also support me on
  <a href="https://patreon.com/dergigi">Patreon</a>.
  If you have any suggestions, feel free to
  <a href="{{ '/contact' | absolute_url }}">drop me a line</a>.
  Thanks for all the encouragement and your generous support, and thank
  you for reading.
  </small>
</p>
