{% capture name %}{{ page.redirect_from | replace: '/', '' }}{% endcapture %}
<p>
  <small>
    Enjoyed this article? Consider
    <a href="https://ts.dergigi.com/api/v1/invoices?storeId=3WkiYEG5DaQv7Ak5M2UjUi1pe5FFTPyNF1yAE9CVLNJn&orderId=V4V-{{ name }}&checkoutDesc=Value+for+Value%3A+Give+as+much+as+it+is+worth+to+you.&currency=USD">giving value</a> back,
    <a href="{{ '/support' | absolute_url }}">supporting me</a>,
    sharing it,
    <a href="{{ '/translations' | absolute_url }}">translating it</a>,
    or leaving a note via its lightning address
    <a href="lightning:{{ name }}@ts.dergigi.com">
      ⚡ {{ name }}@ts.dergigi.com</a>.
  </small>
</p>
