{% capture name %}{{ page.redirect_from | replace: '/', '' }}{% endcapture %}

<center>
<h3 id="value4value"><a href="{{ '/support' | absolute_url }}" title="Value4Value">🧡</a></h3>
  <small>
    Found this valuable? <a href="{{ '/support' | absolute_url }}"><i class="fa-solid fa-circle-info"></i></a>
  </small>
  <div class="action-buttons">
    <div class="button button-transparent button-small button-wide">
      <a href="https://ts.dergigi.com/api/v1/invoices?storeId=3WkiYEG5DaQv7Ak5M2UjUi1pe5FFTPyNF1yAE9CVLNJn&orderId=V4V-{{ name }}&checkoutDesc=Value+for+Value%3A+Give+as+much+as+it+is+worth+to+you.&currency=USD">
        Give Value Back
      </a>
    </div>
  </div>
  <small>
    Can't
    <a href="{{ '/support' | absolute_url }}">support me</a> directly?<br/>
    Consider sharing it,
    <a href="{{ '/translations' | absolute_url }}">translating it</a>,
    or remixing it in another way.
  </small>
</center>
