{% for lesson in site.pages %}
  {% if lesson.categories contains 'lesson' %}
    {% if lesson.path == page.path %}
      {% assign idxp = forloop.index | minus: 1 | minus: 1 %}
      {% assign idxn = forloop.index | plus: 1 | minus: 1 %}
    {% endif %}
    {% if lesson.subtitle == "Table of Contents" %}
      {% assign idxtoc = forloop.index | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign previousLesson = site.pages[idxp] %}
{% assign toc = site.pages[idxtoc] %}
{% assign nextLesson = site.pages[idxn] %}

{% if include.style == "compact" %}
<ul class="lesson__navigation">
  <li><a href="{{ previousLesson.path | remove: '.md' | absolute_url }}" title="Previous"></a></li>
  <li><a href="{{ nextLesson.path | remove: '.md' | absolute_url }}" title="Next"></a></li>
</ul>
{% else %}
<ul class="lesson__navigation">
  <li><a href="{{ previousLesson.path | remove: '.md' | absolute_url }}">{{ previousLesson.subtitle }}</a></li>
  <li><a href="{{ toc.path | remove: '.md' | absolute_url }}">{{ toc.subtitle }}</a></li>
  <li><a href="{{ nextLesson.path | remove: '.md' | absolute_url }}">{{ nextLesson.subtitle }}</a></li>
</ul>
{% endif %}
