<ul>
{% for lesson in site.pages %}
  {% if lesson.categories contains 'lesson' %}
    <li>
      <a href="{{ lesson.path | remove: '.md' | absolute_url }}">
        {{ lesson.title }}
        {% if lesson.title contains 'Lesson ' or lesson.title contains 'Chapter ' %} : {{ lesson.subtitle }} {% endif %}
      </a>
    </li>

    <!-- Sub-lists for each chapter -->
    {% if lesson.title contains 'Chapter' %}<ul>{% endif %}
    {% if lesson.title == 'Lesson 7' %}</ul>{% endif %}
    {% if lesson.title == 'Lesson 14' %}</ul>{% endif %}
    {% if lesson.title == 'Lesson 21' %}</ul>{% endif %}
  {% endif %}
{% endfor %}
</ul>
