{% for lesson in site.pages %}
  {% if lesson.categories contains 'lesson' %}
    {% if page.path == lesson.path %}
      {% assign idxp = forloop.index | minus: 1 | minus: 1 %}
      {% assign idxn = forloop.index | plus: 1 | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign previousLesson = site.pages[idxp] %}
{% assign nextLesson = site.pages[idxn] %}

<ul class="lesson__navigation">
  <li><a href="{{ previousLesson.path | remove: '.md' | absolute_url }}">{{ previousLesson.subtitle }}</a></li>
  <li><a href="{{ nextLesson.path | remove: '.md' | absolute_url }}">{{ nextLesson.subtitle }}</a></li>
</ul>
