{% assign tableOfContents = "Table of Contents" %}
{% assign notFound = "Page Not Found" %}

{% for lesson in site.pages %}
  {% if lesson.categories contains 'lesson' %}
    {% if lesson.path == page.path %}
      {% assign idxp = forloop.index | minus: 1 | minus: 1 %}
      {% assign idxn = forloop.index | plus: 1 | minus: 1 %}
    {% endif %}
    {% if lesson.title == tableOfContents %}
      {% assign idxtoc = forloop.index | minus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% assign previousLesson = site.pages[idxp] %}
{% assign toc = site.pages[idxtoc] %}
{% assign nextLesson = site.pages[idxn] %}

{% if include.style == "compact" %}
<ul class="lesson__navigation">
  {% if previousLesson.title == notFound %}
  <li></li>
  {% else %}
  <li><a href="{{ previousLesson.path | remove: '.md' | absolute_url }}" title="Previous"></a></li>
  {% endif %}

  {% unless previousLesson.title == notFound or page.title == tableOfContents %}
  <li><a href="{{ toc.path | remove: '.md' | absolute_url }}" title="{{ toc.title }}">ToC</a></li>
  {% endunless %}

  {% if nextLesson.title == notFound %}
  <li></li>
  {% else %}
  <li><a href="{{ nextLesson.path | remove: '.md' | absolute_url }}" title="Next"></a></li>
  {% endif %}
</ul>
{% else %}
<ul class="lesson__navigation">
  {% if previousLesson.title == notFound %}
  <li></li>
  {% else %}
  <li><a href="{{ previousLesson.path | remove: '.md' | absolute_url }}" title="{{ previousLesson.subtitle }}">
    {% unless previousLesson.title == tableOfContents %}{{ previousLesson.title }}{% endunless %}
  </a></li>
  {% endif %}

  {% unless previousLesson.title == notFound or page.title == tableOfContents %}
  <li><a href="{{ toc.path | remove: '.md' | absolute_url }}">{{ toc.title }}</a></li>
  {% endunless %}

  {% if nextLesson.title == notFound %}
  <li></li>
  {% else %}
  <li><a href="{{ nextLesson.path | remove: '.md' | absolute_url }}" title="{{ nextLesson.subtitle }}">
  {% unless nextLesson.title == tableOfContents %}{{ nextLesson.title }}{% endunless %}
  </a></li>
  {% endif %}
</ul>
{% endif %}
