{% assign webp = post.image | replace: '.jpg', '.webp' | replace: '.jpeg', '.webp' | replace: '.png', '.webp' %}
{% if post.image contains '.png' %}
  {% assign image_type = 'image/png' %}
{% else %}
  {% assign image_type = 'image/jpeg' %}
{% endif %}
<article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="posts__link" href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
    {% if post.image %}
      <figure class="posts__img">
        <picture>
          <source srcset="{{ webp }}" type="image/webp">
          <source srcset="{{ post.image }}" type="{{ image_type }}">
          <img src="{{ post.image }}" alt="{{ post.title }}" data-aos="fade-in" itemprop="image">
        </picture>
      </figure>
    {% endif %}
    <div>
      <h2 class="posts__text">
        <strong itemprop="name">
          {{ post.title }}
          {% if post.subtitle %}
            - {{ post.subtitle }}
          {% endif %}
          </strong>
          —
          <span itemprop="description">
          {% if post.title == "How to Kill Bitcoin" or post.title == "Inalienable Property Rights" %}
            {{ post.description | truncatewords: 35, "" }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 35, "" }}
          {% endif %}
          </span></h2>
    </div>
  </a>
</article>
