{% assign sode = include.sode %}
{% assign link = sode.youtube %}
{% if sode.podlink %}{% assign link = sode.podlink %}{% endif %}
{% if sode.link %}{% assign link = sode.link %}{% endif %}
<li>
  <small><b>{{ sode.date | date: "%Y-%m-%d" }}</b></small>
  <a href="{{ link }}" target="_blank" title="Released on {{ sode.date }} by {{ sode.host }}">
    {% if sode.star %} ⭐ {% endif %}
    <!-- {% if sode.youtube %}📺{% else %}🎧{% endif %} -->
    {{ sode.podname }}
    {% if sode.sode %}#{{ sode.sode }} {% endif %}
  </a>
  <small>
    {% if sode.podlink %}<a href="{{ sode.podlink }}" target="_blank"><i class="fa-solid fa-podcast"></i></a>{% endif %}
    {% if sode.youtube %}<a href="{{ sode.youtube }}" target="_blank"><i class="fa-brands fa-youtube"></i></a>{% endif %}
    {% if sode.archive %}<a href="{{ sode.archive }}" target="_blank"><i class="fa-solid fa-floppy-disk"></i></a>{% endif %}
    <br/>
    {% if sode.topics %}on {{ sode.topics }},{% endif %}
    {% if sode.guests %}with {{ sode.guests }}{% endif %}
    {% if sode.host %}hosted by {{ sode.host }}{% endif %}
  </small>
  {% case sode.lang %}
    {% when 'AT' %}(🇦🇹)
    {% when 'DE' %}(🇩🇪)
    {% when 'CH' %}(🇨🇭)
    {% else %}
  {% endcase %}

</li>
