{% if include.code %}
{% assign code = include.code %}
{% else %}
{% assign code = page.redirect_from | replace: '/', '' %}
{% endif %}

{% assign translations = site.translations | where: "code", code | sort: "part" | sort: "author" %}
{% assign numTrans = translations | size %}

{% if numTrans > 0 %}
  {% if include.hide_heading != true %}
    <h3 id="translations">Translations</h3>
  {% endif %}
<ul class="translations">

{% for translation in translations %}
  <li class="{{ translation.language }}">
  {% if translation.archive and translation.type == 'text' %}
  <a href="{{ translation.archive }}" target="_blank">🔗</a>
  {% endif %}
  <a href="{{ translation.link }}" target="_blank">
    {% if translation.type == "audio" %}🎧
    {% elsif translation.type == "video" %}📺
    {% elsif translation.type == "discussion" %}💬
    {% endif %}
    {{ translation.language }}
    {% if translation.type == 'text' %}translation{% else %}{{ translation.type }}{% endif %}
    {% if translation.part %}({{ translation.part }}){% endif %}
  </a>
  by
  <a href="{{ translation.author_url }}" target="_blank">{{ translation.author }}</a>
  </li>
{% endfor %}

</ul>
  {% if include.hide_link != true %}
    <p>Want to help? <a href="{{ '/translations' | absolute_url }}">Add a translation</a>!</p>
    <p><a href="{{ '/translations' | absolute_url }}">All translations »</a></p>
  {% endif %}
{% endif %}
