---
layout: default
title: Nostr
subtitle: The bird app is dead, long live the bird app!
tags:
- nostr
---
{% assign nostrposts = "" | split: "," %}
{% for post in site.posts %}
  {% if post.tags contains "nostr" %}
    {% assign nostrposts = nostrposts | push: post %}
  {% endif %}
{% endfor %}
<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      Don't know what nostr is? Have a look at <a href="https://nostr-resources.com" target="_blank">nostr-resources.com</a>
      <br/>
      Know what it is? <a href="nostr:npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc">Find me there</a> and
      <a href="https://njump.me/dergigi.com" target="_blank">jump in!</a>
      <pre>
        <code>npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc</code>
      </pre>
    </p>
  </div>
  <div class="posts">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in nostrposts %}
          {% include post-card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include article-list.html posts=nostrposts %}
</div>
