---
layout: default
title: Nostr
subtitle: The bird app is dead, long live the bird app!
tags:
- nostr
---
{% assign nostrposts = "" | split: "," %}
{% for post in site.posts %}
  {% if post.tags contains "nostr" %}
    {% assign nostrposts = nostrposts | push: post %}
  {% endif %}
{% endfor %}
<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      Why <a href="" target="_blank">#nostr</a>?
      <ul>
        <li>You own your <a href="/npub">identity</a></li>
        <li>Your <a href="/speech">speech</a> stands on its own</li>
        <li>You can run your own everything</li>
        <li>You own and control your social graph</li>
        <li>You are free to say and do <a href="nostr:nevent1qqsgykmg5nemnyy94mpg5477279mdq3ujfe7z5xsex2q8dhnd46j93szyphydppzm7m554ecwq4gsgaek2qk32atse2l4t9ks57dpms4mmhfxqjsf5z">anything</a>, but you are not free from consequences (non-repudiation of cryptographic signatures)</li>
        <li>You can proof realness via <a href="/pow">proof-of-work</a>, either directly or indirectly</li>
        <li>Proof-of-work is what allows you to successfully combat bots, spam, and trolls, as it brings real cost to destructive actions</li>
        <li>Ownership and realness allows you to build and curate webs of trust, which allows for canonicality without central authority </li>
      </ul>
    </p>
    <hr/>
    <p>
      Don't know what nostr is? Have a look at <a href="https://nostr-resources.com" target="_blank">nostr-resources.com</a>
      <br/>
      Know what it is? <a href="nostr:npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc">Find me there</a> and
      <a href="https://njump.me/dergigi.com" target="_blank">jump in!</a>
      <pre>
        <a href="https://njump.me/dergigi.com" target="_blank">njump.me/dergigi.com</a>
        <code>npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc</code>
      </pre>
    </p>
  </div>
  <div class="posts">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in nostrposts %}
          {% include post-card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include article-list.html posts=nostrposts %}
</div>
