---
layout: default
redirect_from: photography
---
<!-- The main content area -->
<div class="posts">
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

      {% for post in site.categories.photography %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </div>
  <div id="markdown" class="grid">
    <hr/>
    <p>
    Not all code is words, but some words are code:
    </p>
    <p>
        {% for post in site.categories.photography %}
          <a href="{{ post.url }}" title="{{ post.title }}">{{ post.redirect_from }}</a>
        {% endfor %}
    </p>
  </div>
</div>
