---
layout: default
---

<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      We are all Satoshi.<sup>*</sup>
    </p>
    <p>
      <a href="../bitcoin.pdf">Bitcoin Whitepaper</a>
    </p>
    <small>
      * Except for <a href="https://craigwrightisafraud.com/" target="_blank">Craig Wright</a>.
    </small>
    <hr/>
  </div>
  <div class="posts">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in site.categories.bitcoin %}
          {% include post-card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
