---
layout: default
---
{% assign bitcoinposts = site.categories.bitcoin %}
<div class="post__content section-padding">
  <div id="markdown" class="grid">
    <p>
      Don't know what bitcoin is? Have a look at <a href="https://bitcoin-resources.com" target="_blank">bitcoin-resources.com</a>
    </p>
  </div>
  <div class="posts">
    <div class="grid-xlarge">
      <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
        {% for post in bitcoinposts %}
          {% include post-card.html %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include article-list.html posts=bitcoinposts %}
  <div id="markdown" class="grid">
    <hr/>
    <p>
      Proud host of the <a href="../bitcoin.pdf">Bitcoin Whitepaper</a>.
    </p>
    <p>
      We are all Satoshi.<sup>*</sup>
      <br/>
      <small>
        * Except for <a href="https://craigwrightisafraud.com/" target="_blank">Craig Wright</a>.
      </small>
    </p>
  </div>
</div>
